Modern Farming 2.json
[{"id":"32b67566.1decea","type":"tab","label":"Modern Farming 2","disabled":false,"info":""},{"id":"5071e944.fc37b8","type":"ui_form","z":"32b67566.1decea","name":"","label":"Fill All ","group":"1e1981c1.41979e","order":1,"width":0,"height":0,"options":[{"label":"\"State_Name\"","value":"State_Name","type":"text","required":true,"rows":null},{"label":"\"District_Name\"","value":"District_Name","type":"text","required":true,"rows":null},{"label":"\"Crop_Year\"","value":"Crop_Year","type":"number","required":true,"rows":null},{"label":"\"Season\"","value":"Season","type":"text","required":true,"rows":null},{"label":"\"Crop\"","value":"Crop","type":"text","required":true,"rows":null},{"label":"\"Area\"","value":"Area","type":"number","required":true,"rows":null}],"formValue":{"State_Name":"","District_Name":"","Crop_Year":"","Season":"","Crop":"","Area":""},"payload":"","submit":"Predict Crop","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":110,"y":320,"wires":[["e22f5667.848bf8","5d928de6.b7ae64"]]},{"id":"5d928de6.b7ae64","type":"function","z":"32b67566.1decea","name":"Global Variables 2","func":"global.set(\"State_Name\",msg.payload.State_Name)\nglobal.set(\"District_Name\",msg.payload.District_Name)\nglobal.set(\"Crop_Year\",msg.payload.Crop_Year)\nglobal.set(\"Season\",msg.payload.Season)\nglobal.set(\"Crop\",msg.payload.Crop)\nglobal.set(\"Area\",msg.payload.Area)\nvar apikey=\"1PrLGFFzm3KU7QywkCouYvagz4zZgdPz2FuKGCDaEGYK\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":320,"wires":[["ced7c2b4.be8ea"]]},{"id":"36001678.90e84a","type":"function","z":"32b67566.1decea","name":"Pre Prediction 2","func":"var State=global.get(\"State_Name\")\nvar District=global.get(\"District_Name\")\nvar Year=global.get(\"Crop_Year\")\nvar Season=global.get(\"Season\")\nvar Crop=global.get(\"Crop\")\nvar Area=global.get(\"Area\")\nvar token=msg.payload.access_token\nmsg.headers={'Contect-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"State_Name\", \"District_Name\", \"Crop_Year\",\"Season\", \"Crop\",  \"Area\"]],\"values\": [[State,District,Year,Season,Crop,Area]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":380,"wires":[["6d6f1c02.e61b44"]]},{"id":"a2912d92.64765","type":"function","z":"32b67566.1decea","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":380,"wires":[["f1ff7980.17bd88","e186c684.9b0d18"]]},{"id":"ced7c2b4.be8ea","type":"http request","z":"32b67566.1decea","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":320,"wires":[["36001678.90e84a","b128fa7b.d1a468"]]},{"id":"6d6f1c02.e61b44","type":"http request","z":"32b67566.1decea","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/e959b6f7-fb09-428c-98f4-41b2a2eec724/predictions?version=2021-08-30","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":380,"wires":[["a2912d92.64765","80d345a1.79cef8","c70d9aee.08c1d8"]]},{"id":"e186c684.9b0d18","type":"ui_text","z":"32b67566.1decea","group":"1e1981c1.41979e","order":2,"width":6,"height":1,"name":"Yield","label":"Predicted Yield/produce :","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":420,"wires":[]},{"id":"b128fa7b.d1a468","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":280,"wires":[]},{"id":"80d345a1.79cef8","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":340,"wires":[]},{"id":"f1ff7980.17bd88","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":380,"wires":[]},{"id":"2cd246bc.cfb21a","type":"ibmiot in","z":"32b67566.1decea","authentication":"apiKey","apiKey":"ab92ad6d.ed78a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"5670","applicationId":"","deviceType":"NodeRV","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":100,"wires":[["99b85c8c.88faa","f37b2c5c.b980c"]]},{"id":"f37b2c5c.b980c","type":"function","z":"32b67566.1decea","name":"","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":100,"wires":[["bd070faf.cb8d6","c379a7cf.ca5388","88a86cbd.89c0f"]]},{"id":"99b85c8c.88faa","type":"function","z":"32b67566.1decea","name":"","func":"msg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":140,"wires":[["155894d7.36aedb","88a86cbd.89c0f"]]},{"id":"bd070faf.cb8d6","type":"ui_gauge","z":"32b67566.1decea","name":"","group":"36c8e66c.80b9fa","order":1,"width":3,"height":4,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"60","colors":["#4deaff","#fbc228","#e51010"],"seg1":"","seg2":"","x":550,"y":60,"wires":[]},{"id":"c379a7cf.ca5388","type":"ui_chart","z":"32b67566.1decea","name":"","group":"36c8e66c.80b9fa","order":3,"width":6,"height":4,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":530,"y":100,"wires":[[]]},{"id":"155894d7.36aedb","type":"ui_gauge","z":"32b67566.1decea","name":"","group":"36c8e66c.80b9fa","order":2,"width":3,"height":4,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":180,"wires":[]},{"id":"88a86cbd.89c0f","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"af292066.04048","type":"comment","z":"32b67566.1decea","name":"IoT details fetched from simulator","info":"","x":270,"y":40,"wires":[]},{"id":"f27055ab.efa4d8","type":"comment","z":"32b67566.1decea","name":"CROP Yield Input","info":"","x":440,"y":260,"wires":[]},{"id":"429a1a40.43e8a4","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":540,"wires":[]},{"id":"2e2be33e.55bdac","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":540,"wires":[]},{"id":"c0c92c2.6eae8d","type":"function","z":"32b67566.1decea","name":"Global vari_Crop Rec  2","func":"global.set(\"N\",msg.payload.N)\nglobal.set(\"P\",msg.payload.P)\nglobal.set(\"K\",msg.payload.K)\nglobal.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"ph\",msg.payload.ph)\nglobal.set(\"rainfall\",msg.payload.rainfall)\nvar apikey=\"f6uMGmMPgK6OVuruCwLCc3UnSxnY6d4g2RLVOTHUNdJe\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":640,"wires":[["a49f08fb.830708"]]},{"id":"5f79a0fb.5e068","type":"function","z":"32b67566.1decea","name":"Pre Recommend 2","func":"var N = global.get(\"N\")\nvar P = global.get(\"P\")\nvar K = global.get(\"K\")\nvar temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar ph = global.get(\"ph\")\nvar rainfall = global.get(\"rainfall\")\nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"N\", \"P\", \"K\", \"temperature\", \"humidity\", \"ph\", \"rainfall\"]],\"values\": [[N,P,K,temperature,humidity,ph,rainfall]]}]} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":580,"wires":[["934bb363.b02f2"]]},{"id":"867517aa.79a358","type":"function","z":"32b67566.1decea","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":640,"wires":[["c747ade1.5ed3b"]]},{"id":"a49f08fb.830708","type":"http request","z":"32b67566.1decea","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":580,"wires":[["2e2be33e.55bdac","5f79a0fb.5e068"]]},{"id":"934bb363.b02f2","type":"http request","z":"32b67566.1decea","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/7a077e13-4eb0-4a59-a0e7-a478345c6e51/predictions?version=2021-08-30","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":640,"wires":[["9d11cbc.b07ef38","867517aa.79a358","c2cd3423.55e4a8"]]},{"id":"c747ade1.5ed3b","type":"ui_text","z":"32b67566.1decea","group":"7ed87b01.959ee4","order":1,"width":6,"height":1,"name":"","label":"Crop Recommended is :","format":"{{msg.payload}}","layout":"row-left","x":970,"y":640,"wires":[]},{"id":"9d11cbc.b07ef38","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":600,"wires":[]},{"id":"a06614de.411f78","type":"ui_form","z":"32b67566.1decea","name":"","label":"","group":"7ed87b01.959ee4","order":2,"width":6,"height":1,"options":[{"label":"N","value":"N","type":"number","required":true,"rows":null},{"label":"P","value":"P","type":"number","required":true,"rows":null},{"label":"K","value":"K","type":"number","required":true,"rows":null},{"label":"temperature","value":"temperature","type":"number","required":true,"rows":null},{"label":"humidity","value":"humidity","type":"number","required":true,"rows":null},{"label":"ph","value":"ph","type":"number","required":true,"rows":null},{"label":"rainfall","value":"rainfall","type":"number","required":true,"rows":null}],"formValue":{"N":"","P":"","K":"","temperature":"","humidity":"","ph":"","rainfall":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":70,"y":600,"wires":[["429a1a40.43e8a4","c0c92c2.6eae8d"]]},{"id":"732711b5.ad733","type":"comment","z":"32b67566.1decea","name":"Crop Recommendation/Prediction","info":"","x":430,"y":480,"wires":[]},{"id":"c2cd3423.55e4a8","type":"function","z":"32b67566.1decea","name":"","func":"msg.payload=msg.payload.errors[0].message\nif (msg.payload==\"This deployment cannot be processed because it exceeds the allocated capacity unit hours (CUH). Increase the compute resources for this job and try again.\")\n{\n    msg.payload=\"CUH limit exceeded , Please visit modern farming 2 from menu on top left\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":680,"wires":[["c747ade1.5ed3b"]]},{"id":"c70d9aee.08c1d8","type":"function","z":"32b67566.1decea","name":"","func":"msg.payload=msg.payload.errors[0].message\nif (msg.payload==\"This deployment cannot be processed because it exceeds the allocated capacity unit hours (CUH). Increase the compute resources for this job and try again.\")\n{\n    msg.payload=\"CUH limit exceeded , Please visit modern farming from menu on top left\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":420,"wires":[["e186c684.9b0d18"]]},{"id":"e811a7db.ba05d8","type":"comment","z":"32b67566.1decea","name":"**Modern Farming 2**","info":"**Modern Farming 2**","x":820,"y":40,"wires":[],"icon":"font-awesome/fa-flag"},{"id":"8a1f4671.3089e8","type":"ui_template","z":"32b67566.1decea","group":"36c8e66c.80b9fa","name":"","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    body{\nbackground-image:url(\"https://modernfarmer.com/wp-content/uploads/2016/01/rain-drought.jpg\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":320,"y":220,"wires":[[]]},{"id":"e22f5667.848bf8","type":"debug","z":"32b67566.1decea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":280,"wires":[]},{"id":"1e1981c1.41979e","type":"ui_group","name":"Crop yield inputs 2","tab":"35219cec.2eeb64","order":3,"disp":true,"width":"6","collapse":false},{"id":"ab92ad6d.ed78a","type":"ibmiot","name":"","keepalive":"60","serverName":"tpum10.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"36c8e66c.80b9fa","type":"ui_group","name":"IoT Feed","tab":"35219cec.2eeb64","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ed87b01.959ee4","type":"ui_group","name":"Crop Recommendation 2","tab":"35219cec.2eeb64","order":2,"disp":true,"width":"6","collapse":false},{"id":"35219cec.2eeb64","type":"ui_tab","name":"Modern Farming 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]