Weather.json
[{"id":"2c0bfb6e.273b94","type":"tab","label":"Modern Farming 2 weather Data","disabled":false,"info":""},{"id":"6a075d.1ad778a4","type":"http request","z":"2c0bfb6e.273b94","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["7aeec763.f4e488","47f27a8a.ddca44","2a0d4754.126648","c1c0c7c7.fec3d8","4c0dffd0.f2fa7","7cafbfe3.48d24"]]},{"id":"cb334c0a.1670b","type":"ui_form","z":"2c0bfb6e.273b94","name":"","label":"","group":"3d2fb3ce.94f09c","order":1,"width":0,"height":0,"options":[{"label":"enter city name","value":"city","type":"text","required":true,"rows":null}],"formValue":{"city":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":180,"y":340,"wires":[["864b966f.a64048","e3abae3e.3956d"]]},{"id":"7aeec763.f4e488","type":"debug","z":"2c0bfb6e.273b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":340,"wires":[]},{"id":"864b966f.a64048","type":"function","z":"2c0bfb6e.273b94","name":"","func":"msg.url = flow.get('owmUrlCurrentForecast')\nmsg.url += `?appid=${flow.get('owmAppId')}`\nmsg.url += `&units=${flow.get('owmUnits')}`\nmsg.url += `&q=${msg.payload.city}`\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":340,"wires":[["6a075d.1ad778a4"]]},{"id":"e3abae3e.3956d","type":"debug","z":"2c0bfb6e.273b94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":280,"wires":[]},{"id":"ab7edd9d.922f2","type":"inject","z":"2c0bfb6e.273b94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":200,"wires":[["28ede2c1.487c5e"]]},{"id":"28ede2c1.487c5e","type":"change","z":"2c0bfb6e.273b94","name":"","rules":[{"t":"set","p":"owmAppId","pt":"flow","to":"3f4184528aee0c8bb8a4e13e78824da2","tot":"str"},{"t":"set","p":"owmUrlCurrentForecast","pt":"flow","to":"https://api.openweathermap.org/data/2.5/weather","tot":"str"},{"t":"set","p":"owmUrl5DayForecast","pt":"flow","to":"https://api.openweathermap.org/data/2.5/forecast/daily","tot":"str"},{"t":"set","p":"owmUnits","pt":"flow","to":"metric","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":200,"wires":[[]]},{"id":"2a0d4754.126648","type":"ui_gauge","z":"2c0bfb6e.273b94","name":"","group":"3d2fb3ce.94f09c","order":4,"width":3,"height":3,"gtype":"gage","title":"humidity","label":"%","format":"{{msg.payload.main.humidity}}","min":0,"max":"90","colors":["#94b4ff","#ee9d2b","#e84545"],"seg1":"","seg2":"","x":760,"y":440,"wires":[]},{"id":"47f27a8a.ddca44","type":"ui_gauge","z":"2c0bfb6e.273b94","name":"","group":"3d2fb3ce.94f09c","order":3,"width":3,"height":3,"gtype":"gage","title":"Temperature","label":"C","format":"{{msg.payload.main.temp}}","min":0,"max":"80","colors":["#3aa3f2","#fd9d17","#ff0000"],"seg1":"","seg2":"","x":770,"y":400,"wires":[]},{"id":"c1c0c7c7.fec3d8","type":"ui_gauge","z":"2c0bfb6e.273b94","name":"","group":"3d2fb3ce.94f09c","order":5,"width":3,"height":3,"gtype":"compass","title":"Wind Speed","label":"Km/h","format":"{{msg.payload.wind.speed}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":480,"wires":[]},{"id":"4c0dffd0.f2fa7","type":"ui_gauge","z":"2c0bfb6e.273b94","name":"","group":"3d2fb3ce.94f09c","order":6,"width":3,"height":3,"gtype":"donut","title":"Pressure","label":"","format":"{{msg.payload.main.pressure}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":540,"wires":[]},{"id":"7cafbfe3.48d24","type":"ui_text","z":"2c0bfb6e.273b94","group":"3d2fb3ce.94f09c","order":2,"width":0,"height":0,"name":"","label":"Weather at :","format":"{{msg.payload.name}}","layout":"row-center","x":800,"y":280,"wires":[]},{"id":"75f5f4aa.57658c","type":"comment","z":"2c0bfb6e.273b94","name":"Modern Farming 2 weather Data","info":"# **Modern Farming 2 weather Data**","x":260,"y":80,"wires":[]},{"id":"3d2fb3ce.94f09c","type":"ui_group","name":"Weather Data","tab":"35219cec.2eeb64","order":4,"disp":true,"width":"6","collapse":false},{"id":"35219cec.2eeb64","type":"ui_tab","name":"Modern Farming 2","icon":"dashboard","order":1,"disabled":false,"hidden":false}]